<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.a5835512034.projectappgas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Shopmain"
            android:label="หน้าหลัก" />
        <activity
            android:name=".Buyonline"
            android:label="ซื้อของออนไลน์" />
        <activity
            android:name=".StatusTrack"
            android:label="สถานะการจัดส่งสินค้า" />
        <activity
            android:name=".Purchase"
            android:label="ประวัติการสั่งสินค้า" />
        <activity
            android:name=".News"
            android:label="ข่าวสาร" />
        <activity
            android:name=".Datacom"
            android:label="ข้อมูลร้านค้า" />
        <activity
            android:name=".Helps"
            android:label="ขอความช่วยเหลือ" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".PassActivity"
            android:label="get password" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".BasketActivity" android:label="@string/order"></activity>
    </application>

</manifest>